In [1]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import MetaData
Base = declarative_base()

In [2]:
from sqlalchemy import Column, Integer, String, Float

In [23]:
# Create Shark Attack Classes
# ---------------------------------
class Shark_Attacks (Base):
    __tablename__ = 'shark'
    year = Column(Integer, primary_key=True)
    type = Column(String(255))
    country = Column(String(255))
    area = Column(String(255))
    activity = Column(String(255))
    fatal = Column(String(1))
    species = Column(String(255))

/Users/danielpetrella/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/ext/declarative/clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Shark_Attacks, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

In [24]:
attacks = session.query(Shark_Attacks)
for attack in attacks:
    print(attack.fatal)

OperationalError: (sqlite3.OperationalError) no such table: shark
[SQL: SELECT shark.year AS shark_year, shark.type AS shark_type, shark.country AS shark_country, shark.area AS shark_area, shark.activity AS shark_activity, shark.fatal AS shark_fatal, shark.species AS shark_species
FROM shark]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [5]:
# Create Database Connection
database_path = "sharkattacks_db"
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [6]:
import pandas as pd
csv_path = "./filtered_shark_attacks_v2.csv"
df = pd.read_csv("./filtered_shark_attacks_v2.csv")

new_df = df.rename(columns={"Fatal (Y/N)":"Fatal"})
clean_new_df = new_df.drop(columns=['Unnamed: 7', 'Unnamed: 8'])

In [7]:
df

,Year,Type,Country,Area,Activity,Fatal,Species,Unnamed: 7,Unnamed: 8
0,2020.0,Unprovoked,USA,Maui,Stand-Up Paddle boarding,N,Tiger shark,NaN,NaN
1,2020.0,Provoked,BAHAMAS,Exumas,Floating,N,NaN,NaN,NaN
2,2020.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,N,"""A small shark""",NaN,NaN
3,2020.0,Unprovoked,NEW ZEALAND,Southland,Surfing,N,Broadnose seven gill shark?,NaN,NaN
4,2020.0,Unprovoked,USA,North Carolina,Surfing,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6457,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,Y,NaN,NaN,NaN
6458,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Y,NaN,NaN,NaN
6459,0.0,Unprovoked,USA,North Carolina,Swimming,Y,NaN,NaN,NaN
6460,0.0,Unprovoked,PANAMA,NaN,NaN,Y,NaN,NaN,NaN
6461,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,Y,NaN,NaN,NaN

In [8]:
clean_new_df

,Year,Type,Country,Area,Activity,Fatal,Species
0,2020.0,Unprovoked,USA,Maui,Stand-Up Paddle boarding,N,Tiger shark
1,2020.0,Provoked,BAHAMAS,Exumas,Floating,N,NaN
2,2020.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,N,"""A small shark"""
3,2020.0,Unprovoked,NEW ZEALAND,Southland,Surfing,N,Broadnose seven gill shark?
4,2020.0,Unprovoked,USA,North Carolina,Surfing,N,NaN
...,...,...,...,...,...,...,...
6457,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,Y,NaN
6458,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Y,NaN
6459,0.0,Unprovoked,USA,North Carolina,Swimming,Y,NaN
6460,0.0,Unprovoked,PANAMA,NaN,NaN,Y,NaN
6461,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,Y,NaN

In [9]:
clean_new_df.to_sql('shark_attacks', con=engine,  if_exists='replace')

In [10]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [11]:
# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [12]:
from sqlalchemy import inspect
from sqlalchemy import Column
inspector = inspect(engine)


#Get table information
print(inspector.get_table_names())
table = inspector.get_table_names()

#Get column information
print(inspector.get_columns('shark_attacks'))

['shark_attacks']
[{'name': 'index', 'type': BIGINT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Year', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Type', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Country', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Area', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Activity', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Fatal', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Species ', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

In [13]:
m = MetaData()
m.reflect(engine)
for table in m.tables.values():
    print(table.name)
    shark_attacks_table = table.name
    for column in table.c:
        print(column.name)

shark_attacks
index
Year
Type
Country
Area
Activity
Fatal
Species

NameError: name 'shark_attacks' is not defined